# Mission to Mars
### Description

In [1]:
## Dependencies
import pandas as pd
import requests

import pymongo

from bs4 import BeautifulSoup as bs

from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
## Initialize PyMongo (MongoDB)
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
## Define database and collection
# db = client.commerce_db
# collection = db.items

In [35]:
##Setup Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\rpmcl\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

## NASA Mars News

In [13]:
## NASA URL
url = "https://redplanetscience.com/"

## Retrieve URL (request)
# response = requests.get(url)
# soup = bs(response.text, 'html.parser')

## Open URL in Chrome Browser
browser.visit(url)

## Make Beautiful Soup
soup = bs(browser.html, 'html.parser')

## Extract News Title
news_title = soup.find("div", class_="content_title").text

## Extract News Paragraph
news_paragraph = soup.find("div", class_="article_teaser_body").text

## Close Chrome Browser
# browser.quit()

In [59]:
## Display scraped news
print(news_title)
print(news_paragraph)

NASA's Perseverance Rover Will Look at Mars Through These 'Eyes'
A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.

## JPL Mars Space Images (Featured Image)

In [45]:
## Mars Space Images URL
url = "https://spaceimages-mars.com/"

## Open URL in Chrome Browser
browser.visit(url)

## Open "FULL IMAGE" link
# browser.links.find_by_partial_text('FULL IMAGE').click()

## Make Beautiful Soup
soup = bs(browser.html, 'html.parser')

## Extract image URL
# featured_img = soup.find("img", class_="fancybox_image")['src']
featured_image_src = soup.find("img", class_="headerimage fade-in")['src']
featured_image_url = url + featured_image_src

## Close Chrome Browser
# browser.quit()

In [60]:
## Display scraped URL
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

## Mars Facts

In [51]:
## Mars Facts URL
url = "https://galaxyfacts-mars.com/"

## Extract Tables from URL
tables = pd.read_html(url)

## Convert "Mars Planet Profile" Table to DataFrame
mars_facts_df = tables[1]

## Export table (HTML) from DataFrame

In [56]:
mars_facts_df.to_html("Templates/Mars_Facts.html", justify="left", classes="table table-responsive table-bordered table-striped", border=0, encoding="utf-8")

In [58]:
## Display scraped table
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

## Mars Hemispheres